# linux
*~
.fuse_hidden*
.directory
.trash-*
.nfs*

# windows
thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[dd]esktop.ini
$recycle.bin/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# macos
.ds_store
.appledouble
.lsoverride
icon
._*
.documentrevisions-v100
.fseventsd
.spotlight-v100
.temporaryitems
.trashes
.volumeicon.icns
.com.apple.timemachine.donotpresent
.appledb
.appledesktop
network trash folder
temporary items
.apdisk